@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@300;700&display=swap');
:root {
    --black: #0A0C08;
    --white: #E6FAFC;
    --grey: #c0cfd1;
    --green: #43F939;
    --flair: #43f93934;
    --purple: #27102e;
    --black-purple: #100514;

    --header-text: 'PT Serif', serif;
    --body-text: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid pink
}

h1 {
    font-family: var(--header-text);
    font-weight: 400;
    span {
        font-weight: 700;
        white-space: nowrap;
    }
}
h4, p, a {
    font-family: var(--body-text);
    font-weight: 400;
    color: var(--grey);
    text-decoration: none;
    span {
        font-weight: 700;
    }
}
a {
    color: white;
}
.icon {
    height: 15px;
    width: 15px;
    filter: invert(100) brightness(70%);
    margin-left: 6px;
    position: relative;
    top: 1px;
}

html {
    scroll-behavior: smooth !important;
    body {
        background: var(--purple);
        .App {
            background: radial-gradient(circle farthest-side at var(--x) var(--y), 
                                        var(--purple) 0%, 
                                        var(--black-purple) 100%);
            background-repeat: no-repeat;
            background-attachment: fixed;                      
            min-height: 100%;
            width: 100%;
            display: grid;
            overflow-y: hidden;
            // ----------------------------- LEFT COLUMN -----------------------------
            .bioColumn {
                width: 40%;
                height: 100%;
                position: fixed;
                padding: 100px 50px 100px 100px;
                color: var(--white);
                h1 {
                    min-width: 350px;
                    font-size: 50px;
                    line-height: 50px;
                    margin-bottom: 5px;
                }
                h4 {
                    font-size: 16px;
                    color: var(--grey);
                }
                .sec-list {
                    display: flex;
                    flex-direction: column;
                    margin: 20px 0;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                    gap: 10px;
                    font-size: 15px;
                    transition: .2s ease-in-out;
                    a {
                        text-decoration: none;
                        color: var(--grey);
                        width: auto;
                        padding-left: 30px;
                        transition: .2s ease-in-out;
                        &::after {
                            content: "";
                            background-color: var(--green);
                            position: absolute;
                            left: 2px;
                            margin-left: 100px;
                            margin-top: 0;
                            width: 2px;
                            height: 23px;
                            transition: .2s ease-in-out;
                        }
                        &:hover::after {
                            margin-top: 10px;
                            width: 60px;
                            height: 2px;
                        }
                    }
                    &:hover {
                        a {
                            opacity: .2;
                            transition: .2s ease-in-out;
                            &:hover {
                                font-weight: 700;
                                opacity: 1;
                                color: var(--green);
                                padding-left: 80px;
                            }
                        }
                    }
                }
                .soc-list {
                    display: flex;
                    gap: 50px;
                    a {
                        height: 30px;
                        width: 30px;
                        img {
                            filter: invert(100%) brightness(75%);
                            cursor: pointer;
                        }
                    }
                }
            }
            // ----------------------------- RIGHT COLUMN -----------------------------
            .infoColumn {
                width: 60%;
                height: 100%;
                margin-left: auto;
                padding: 0 100px 100px 100px;
                color: var(--grey);
                .margin {
                    height: 100px;
                }
                h1 {
                    &::before {
                        content: "";
                        background-color: var(--green);
                        position: relative;
                        display: block;
                        z-index: -1;
                        width: 100%;
                        height: 3px;
                        top: 40px;
                        left: -2px;
                    }
                }
                .cards {
                    display: flex;
                    gap: 20px;
                    padding: 20px;
                    transition: ease-in-out .2s;
                    margin: 10px 0;
                    &:hover {                  
                        border-radius: 15px;
                        background: linear-gradient(145deg, #2a1131, #230e29);
                        box-shadow:  5px 5px 18px #100612cd,
                                    -5px -5px 18px #3d1a48;
                    }
                }
                .tech-section {
                    .techCard {
                        margin: 10px 0;
                        padding: 20px 0;
                        display: flex;
                        justify-content: space-evenly;
                        flex-wrap: wrap;
                        gap: 10px;
                        .techBox {
                            box-shadow: 0px 5px 5px var(--black);
                            border-radius: 10px;
                            height: 70px;
                            width: 70px;
                        }
                    }
                }
                .educ-section {
                    .educCard {
                        &:hover {                  
                            .linkIcon {
                                transition: .06s ease-in-out;
                                right: -1px;
                                top: -1px;
                                filter: invert(100) brightness(100%);
                            }
                        }
                        .course-works-row {
                            margin-top: 10px;
                            .caretIcon {
                                rotate: -180deg;
                                transition: .3s ease-in-out;
                            }
                            h4 {
                                font-size: 15px;
                            }
                            ul {
                                max-height: 0px;
                                opacity: 0;
                                font-size: 14px;
                                font-family: 'Poppins', sans-serif;
                                transition: .2s ease-in-out;
                            }
                            &:hover {
                                .caretIcon {
                                    rotate: 0deg;
                                }
                                ul {
                                    max-height: 500px;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                .proj-section {
                    .projCard {
                        a {
                            color: white;
                            font-family: 'Poppins', sans-serif;
                            text-decoration: none;
                        }
                        &:hover {                  
                            .linkIcon {
                                transition: .06s ease-in-out;
                                right: -1px;
                                top: -1px;
                                filter: invert(100) brightness(100%);
                            }
                        }
                        .thumbnail {
                            border: 2px solid #c0cfd154;
                            border-radius: 4px;
                            width: 100px;
                            height: 100px;
                            object-fit: cover;
                        }
                        .linkIcon {
                            height: 15px;
                            width: 15px;
                            filter: invert(100) brightness(70%);
                            margin-left: 6px;
                            position: relative;
                            top: 1px;
                        }
                        .flairs {
                            margin-top: 5px;
                            display: flex;
                            gap: 10px;
                            div {
                                font-size: 12px;
                                background-color: var(--flair);
                                p {
                                    color: var(--green);
                                }
                                padding: 2px 8px;
                                border-radius: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    html {
        body {
            .App {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                h1, h4 {
                    text-align: center;
                    min-width: unset !important;
                }
                .bioColumn {
                    padding: 50px;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    a {
                        &::after {
                            left: 2px;
                            margin-left: 50px !important;
                        }
                    }
                }
                .infoColumn {
                    padding: 30px;
                    width: 100%;
                    height: 100%;
                    .educCard {
                        h4 {
                            text-align: left;
                        }
                    }
                    .projCard {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        #main-col {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            p {
                                text-align: center;
                            }
                        }
                        .thumbnail {
                            width: 100% !important;
                            min-width: 200px !important;
                            height: 100%;
                            margin-bottom: -15px;
                        }
                    }
                }
            }
        }
    }
}

.sectionVisible {
    animation: fade-in .5s ease-in-out;
    position: relative;
}
@keyframes fade-in {
    0% {
        color: var(--green);
        text-shadow: 4px 0px 2px var(--green);
        right: -15px;
        opacity: 0%;
    }
    100% {
        right: 0;
        opacity: 100%;
    }
}

.headerVisible {
    animation: 1.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}
@keyframes wipe-in-right {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    50% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0px 3px 2px black;
        clip-path: inset(0 0 0 0);
    }
}