@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
:root {
    --black: #0A0C08;
    --white: #E6FAFC;
    --green: #43F939;
    --purple: #32163B;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h4 {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    span {
        font-weight: 700;
    }
}

body {
    background-color: var(--black);
    .App {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-areas: "bio info";
        .bioColumn {
            width: 50%;
            height: 100%;
            border: 1px solid red;
            position: fixed;
            grid-area: bio;
            padding: 100px;

            color: var(--white);
            h1 {
                font-size: 50px;
                line-height: 50px;
                margin-bottom: 20px;
            }
            h4 {
                font-size: 20px;
            }
        }
        .infoColumn {
            width: 100%;
            height: 200%;
            border: 1px solid lime;
            grid-area: info;
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        .App {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            .bioColumn {
                width: 100%;
                height: 100%;
                border: 1px solid red;
                position: relative;
            }
            .infoColumn {
                width: 100%;
                height: 100%;
                border: 1px solid lime;
            }
        }
    }
}